@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Press+Start+2P&family=VT323&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

body {
  background-color: #0f172a;
  /* Dark Slate */
  color: #e2e8f0;
  /* Slate 200 */
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', cursive;
}

.text-arcade {
  font-family: 'Press Start 2P', cursive;
}

.text-vt323 {
  font-family: 'VT323', monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}